body {
    background-color: #BDC3CB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-size: contain;
}

.jumbotron {
    background-color: #DCD2CC;
    padding: 10px;
    width: auto;
    border-style: solid;
    border-color: #EDE7DC;
    border-radius: 10px;
}

.section {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 25% 25% 25% 25%;
}

.column {
    background-color: #DCD2CC;
    border-style: solid;
    border-color: #EDE7DC;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}